.header{
    background-color: rgba(255, 0, 0, 0.918);
    text-align: center;
    padding: 20px;
}

.content{
    margin: 20px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: rgb(240, 0, 48);
    display: flex;
    justify-content: space-around;
}

.box{
    width: 250px;
    /*height: 200px;*/
    background-color: white;
    margin: 10px;
    padding: 20px;
    text-align: left;
    
}

.box h3{
    margin-bottom: 10px;
   margin-top: 0;
    /*text-align: center;   */
    color:#333;
}

.box img{
    width: 100%;
    height: auto;
    /*object-fit: cover;*/
    display: block;
    margin: 15px 0;
}

/*.footer{
    background-color: red;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}*/

